
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
// @import '~bootstrap/scss/mixins';
@import 'variables';
@import 'slate';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

@import '~select2/dist/css/select2.min.css';
@import '~toastr/build/toastr.min.css';

.navbar-laravel {
  // background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.select2-results__option {
    color: #000000;
}

.toast{
    font-size: 1.1rem;
}
.toast-success{
    background-color: darkgreen !important;
}
#toast-container>div{
    width: 700px;
}

.dropdown-menu {
    margin-top: -3px;
}

.dropdown-device-list {
    overflow-y: scroll;
    max-height: 90vh;
//    max-height: 500px;
}

.dropdown-submenu .dropdown-menu {
    top: auto;
    left: 100%;
    margin-top: -35px;
}

@media print {
    body, html, a, button, div, tr, th, td { border-color: #000 !important; color: #000 !important; font-weight: bold; }
}

.table-fixed-head-thead {
  border-bottom: 1px solid #dddddd;
  background: #fafafa;
  color: #222;
  // left: 20px !important;
  // margin: 0 auto !important;
  // left: auto !important;
}

.stockTransferEditScreenSummary,
.purchaseOrderEditScreenSummary,
.stockTransferItemsListFromTo{
    font-size: large;
    color: red;

}

.stockTransferItemsListFromTo{
    text-align: center;
}
